<h1><%= title %></h1>

Output generated: <%= Time.now %>

<pre>
$ <%= @command %>
</pre>

<table class="table table-bordered">
  <tr>
    <th>JOBID</th>
    <th>JOBNAME</th>
    <th>PARTITION</th>
    <th>ACCOUNT</th>
    <th>CPU</th>
    <th>STATE</th>
    <th>EXIT CODE</th>
  </tr>
  <% @processes.each do |app| %>
  <tr>
    <td><%= app.jobid %></td>
    <td><%= app.jobname %></td>
    <td><%= app.partition %></td>
    <td><%= app.account %></td>
    <td><%= app.cpus %></td>
    <td><%= app.state %></td>
    <td><%= app.exit_code %></td>
  </tr>
  <% end %>

</table>
