<h1><%= title %></h1>

<div class="pull-right">
  <form class="form-inline">
    Start Date: <input class="form-control" type="datetime-local" name="start_date" value="<%= @start_date %>">
    End Date: <input class="form-control" type="datetime-local" name="end_date" value="<%= @end_date %>">
    <input class="btn btn-primary" type="submit">
  </form>
</div>

<div class="row">
  <span>Output generated: <%= Time.now %></span>
</div>

<div class="row">
  <pre><%= @command %></pre>

  <p>Query generated <%= @processes.count %> results</p>
</div>

<table class="table table-bordered">
  <tr>
    <th>JOBID</th>
    <th>USER</th>
    <th>JOBNAME</th>
    <th>START</th>
    <th>END</th>
    <th>STATE</th>
  </tr>
  <% @processes.each do |app| %>
    <% unless app.user.empty? %>
    <tr>
      <td><a href="<%= url("show/") %><%= app.jobid %>"><%= app.jobid %></a></td>
      <td><%= app.user %></td>
      <td><%= app.jobname %></td>
      <td><%= app.start %></td>
      <td><%= app.end %></td>
      <td><%= app.state %></td>
    </tr>
    <% end %>
  <% end %>
</table>
