<h1><%= @message %></h1>

Command:

<pre>
$ <%= @command %>
</pre>


Output generated: <%= Time.now %>

<table class="table table-sm small">
  <thead>
    <tr>
      <th></th>
      <% @output.each do |job| %>
      <th><%= job.JobID %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @output.first.each_pair do |key, val| %>
      <tr>
        <td><%= key %></td>
        <% @output.each do |job| %>
          <td><%= job[key] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>



</table>

<a href="<%= url("/") %>" data-turbolinks-action="restore"><h3>Back</h3></a>
